<h1>Cadastre o seu livro:</h1>
<form action="/books/insertbook" method="post" class="form">
  <div class="form-control">
    <label for="title">Título:</label>
    <input type="text" name="title" placeholder="Digíte o título" />
  </div>
  <div class="form-control">
    <label for="page_qty">Número de páginas:</label>
    <input
      type="number"
      name="page_qty"
      placeholder="Quantas páginas o livro tem?"
    />
  </div>
  <input type="submit" value="Cadastrar" />
</form>