<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../public/css/styles.css" />
    <title>Cadastro de Alunos:</title>
  </head>
  <header>
    <body>
      <form action="http://localhost:3000/create">
        <div class="form-control">
          <div>
            <label for="ra">RA:</label>
            <input type="text" name="ra" placeholder="Digíte o RA" />
          </div>
          <div>
            <label for="nome">Nome:</label>
            <input type="text" name="nome" placeholder="Digíte o nome" />
          </div>
          <div>
            <label for="nascimento">Nascimento:</label>
            <input
              type="date"
              name="nascimento"
              placeholder="Digíte a data de nascimento"
            />
          </div>
          <div>
            <label for="turma">Turma:</label>
            <input type="number" name="turma" placeholder="Digíte a turma" />
          </div>
          <input type="submit" value="Cadastrar" id="btn-create" />
        </div>
      </form>
  </header>
  <main id="dados">
    
  </main>
  </body>
  <script src="./js/create.js"></script>
</html>
