<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Escola</title>
  </head>
  <body>
    <nav id="navbar">
      <ul>
        <li><a href="/alunos/create">Cadastro</a></li>
        <li><a href="/alunos/read">Alunos</a></li>
      </ul>
    </nav>
    {{{body}}}
  </body>
</html>