<header>
  <form class="form" action="/alunos/create" method="post">

    <div class="form-control">
      <label for="ra">RA:</label>
      <input type="text" name="ra" placeholder="Digíte o RA" />
    </div>
    <div class="form-control">
      <label for="nome">Nome:</label>
      <input type="text" name="nome" placeholder="Digíte o nome" />
    </div>
    <div class="form-control">
      <label for="nascimento">Nascimento:</label>
      <input
        type="date"
        name="nascimento"
        placeholder="Digíte a data de nascimento"
      />
    </div>
    <div class="form-control">
      <label for="id_turma">Turma:</label>
      <input type="number" name="id_turma" placeholder="Digíte a turma" />
    </div>
    <input type="submit" value="Cadastrar" id="btn-create" />

  </form>
</header>
<main id="dados">

</main>